extends ./layout

append styles
  link(href='/stylesheets/markdown.css', rel='stylesheet')
  link(href='/stylesheets/instruction-tables.css', rel='stylesheet')
  
block content
  .layout.vertical
    .markdown
      h1 #{params.current.capitalizedName} Instructions Delays
      .layout.horizontal.reverse
        a(href=params.sibling.link) Go to #{params.sibling.name} delays
      .scrollable
        table
          thead
            tr.mode
              th.top-corner
              each mode in params.instructions.modes
                th.mode= mode
          tbody
            each instruction in params.instructions.instructions
              tr
                th.instruction
                  code= instruction.name
                each mode, index in params.instructions.modes
                   td= instruction[params.current.name][index]